/* xlwcty rtl */
html[dir="rtl"] .xlwcty_wrap.xlwcty_circle_show .xlwcty_in_wrap{padding-left: 0;padding-right:0}
html[dir="rtl"] .xlwcty_wrap .xlwcty_share .xlwcty_shareTab ul li a i { margin-right: 0; margin-left: 5px }
html[dir="rtl"] .xlwcty_wrap .woocommerce-table tbody tr td:first-child, html[dir="rtl"] .xlwcty_wrap .woocommerce-table tfoot tr td:first-child, html[dir="rtl"] .xlwcty_wrap .woocommerce-table tfoot tr th:first-child, html[dir="rtl"] .xlwcty_wrap .woocommerce-table thead tr th:first-child { width: 35%}
html[dir="rtl"] .xlwcty_wrap table.woocommerce-table tbody tr td, html[dir="rtl"] body .xlwcty_wrap table.woocommerce-table tfoot tr td, html[dir="rtl"] body .xlwcty_wrap table.woocommerce-table tfoot tr th, html[dir="rtl"] body .xlwcty_wrap table.woocommerce-table thead tr th { width: 65%}
html[dir="rtl"] .xlwcty_wrap .xlwcty_order_details_2_col table tfoot tr th{width: 34%; text-align: right}
html[dir="rtl"] .xlwcty_wrap .xlwcty_order_details_2_col table tfoot tr td{width: 66%}
html[dir="rtl"] .xlwcty_wrap .xlwcty_order_details_2_col .xlwcty_pro_list .xlwcty_leftDiv{ float: right}
html[dir="rtl"] .xlwcty_wrap .xlwcty_order_details_2_col .xlwcty_pro_list .xlwcty_rightDiv{float: left}
html[dir="rtl"] .xlwcty_wrap .xlwcty_order_details_2_col .xlwcty_pro_list .xlwcty_leftDiv .xlwcty_p_img{float: right}
html[dir="rtl"] .xlwcty_wrap .xlwcty_order_details_2_col .xlwcty_pro_list .xlwcty_leftDiv .xlwcty_p_name{padding-left:0;padding-right:0}
html[dir="rtl"] .xlwcty_wrap .xlwcty_pro_list .xlwcty_pro_row .xlwcty_pro_img{float: right}
html[dir="rtl"] .xlwcty_wrap .xlwcty_pro_list .xlwcty_pro_row .xlwcty_pro_detail .xlwcty_pro_text{float: right}
html[dir="rtl"] .xlwcty_wrap .xlwcty_circle{left: auto;right: -60px}
